/*FONTS
================================================================== */
@import url('http://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://fonts.googleapis.com/css?family=Ubuntu');

/*GENERALES
================================================================== */
a{text-decoration:none;}
a img{border:none;}
body{font:normal 13px 'Open Sans',Arial, Helvetica, sans-serif; background: #f7f6f1;}
p{line-height:18px; margin-bottom:5px; font-family: 'Ubuntu', Arial, Helvetica; color: #333;}
.clr{clear: both;}
.rel{position: relative;}
.boxCenter{margin: 0 auto;}
.nomrg{margin-left: 0 !important;}
.nomrg-r{margin-left: 0 !important;}

fieldset{border:none;}
label{display: block; margin-bottom: 5px;}
fieldset input, fieldset textarea, fieldset select{width: 90%; padding: 7px; border-radius: 3px; border:none; outline: 0; border:1px solid #ccc; color: #999; font-family: 'Oxygen';}

.required{background: #cc3333; color: #fff;}
.tResults{border: 1px solid #dedede; margin-bottom: 30px;}
.tResults tr:first-child{background: #2b76b5 !important; color: #fff;}
.tResults tr:first-child td{padding: 10px 0; text-align: center; border: none !important;}
.tResults tr:nth-child(2n+1) {background:#ebecec; }
.tResults tr td img{margin-bottom: -4px;}
.tResults tr{border-bottom: 1px solid #dedede;}
.tResults tr td{border: 1px solid #dedede; text-align: center;}
.tResults tr td input{width: 20px; padding: 5px; text-align: center; margin: 0 5px; outline: 0;}
.tResults tr td a{display: block; margin: 0 5px;}
.tResults tr:hover{background: #e1effc;}

.msg-success{background: #32b38c; border:1px solid #178f6b; padding: 7px 10px; color: #fff; border-radius: 3px;}

/*LOGIN
=================================================================== */
body.login{
	background: -webkit-radial-gradient(center, circle cover, #227ba8, #155267);
	background: -moz-radial-gradient(center, circle cover, #227ba8, #155267);
	background: radial-gradient(center, circle cover, #227ba8, #155267);
}
#login{
	width: 300px;
	margin:180px auto;
	padding: 20px;
}
#login input{width: 90%; border: none; padding: 12px 5px; font-size: 14px; font-family:'Open Sans';}
#login input[type="text"]{border-radius: 3px 3px 0 0; margin-bottom:2px;}
#login input[type="password"]{border-radius: 0 0 3px 3px;}
#login input[type="submit"]{
	margin-top: 15px; 
	width: 93%;
	background:#1a5f77;
	color:#fff;
	font-family:Arial, Helvetica;
	font-weight:bold;
	padding:15px 10px;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
#login input[type="submit"]:hover{background:#0f485c;}
#login h1{text-align: center; color: #fff;}
#login .loading{color: #fff; text-align: center;}

/*NAVIGATION
=================================================================== */
.navigation{background: #292929; width: 300px; float: left; color: #fff; padding: 20px 0; position: fixed;}

.profileNav{width: 80%; margin: 0 auto 30px;}
.profileNav img, .profile span{float: left; font-weight: bold;}
.profileNav img{margin-top: -7px; margin-right: 25px;}

ul.navdashboard li{border-top:1px solid #3a3939; min-height: 45px; position: relative;}
ul.navdashboard li img{position: absolute; top: 13px; left: 35px;}
ul.navdashboard li a{
	display: block;
	color: #8f8f91;
	padding: 14px 50px 14px 85px;
	width: 55%;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
ul.navdashboard li:last-child{border-bottom: 1px solid #3a3939;}
ul.navdashboard li a:hover{background: #393836; color: #fff;}


ul.navdashboard ul{display: block;}
ul.navdashboard ul li:last-child{border-bottom: none;}
ul.navdashboard ul li a{
	padding: 14px 0 14px 100px;
	width: 66%;
}

.current{background: #393836; color: #fff;}

/*RIGHT PANEL
=================================================================== */
.rightPanel{float: left; margin-left: 300px;}

.viewDash{padding: 10px 30px;}
.viewDash h1{font-size: 18px; color: #8e8d88;}

/*TOP CONTROLS
=================================================================== */
.topControlls{background: #32b38c; padding: 10px 0 10px 30px;}
.topControlls a{color:#fff; float: left; margin-top: 3px;}

.option-modules { margin-left: 20px; }

/*SLIDER VIEW
=================================================================== */
.icon-add, .icon-info{
	background: #fff; 
	width: 14px; 
	height: 14px; 
	padding: 5px; 
	border-radius: 50%; 
	text-align: center; 
	float: left;
	margin-right: 10px;
}
.icon-add:hover{cursor: pointer;}
.icon-add img, .icon-info img{width: 100%;}

.form-addSlider fieldset, .form-addSlider input{margin-bottom: 10px; font-family: 'Ubuntu', Arial, Helvetica;}
.form-addSlider input[type="checkbox"]{width: 15px; float: left; margin-top: 3px;}
.form-addSlider .lbl-link{float: left; margin-right: 5px;}
.form-addSlider input[type="submit"]{
	background: #32b38c;
	color: #fff;
	border: none;
	border-bottom: 2px solid #1f7e60;
	width: 100px;
	padding: 10px 0;
	font-family: 'Ubuntu', Arial, Helvetica;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.form-addSlider input[type="submit"]:hover{
	background: #1f7e60;
	border-bottom: 2px solid #074834;
}
.form-addSlider span{margin-right: 10px;}
.form-addSlider #slr-urlto{width: 85%;}

/*SETTINGS VIEW
=================================================================== */
.viewDash fieldset, .viewDash input{margin-bottom: 10px; font-family: 'Ubuntu', Arial, Helvetica;}
.viewDash input[type="submit"]{
	background: #32b38c;
	color: #fff;
	border: none;
	border-bottom: 2px solid #1f7e60;
	width: 100px;
	padding: 10px 0;
	font-family: 'Ubuntu', Arial, Helvetica;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
}
.viewDash input[type="submit"]:hover{
	background: #1f7e60;
	border-bottom: 2px solid #074834;
}
#set-btnUpd{
	background: #32b38c;
	color: #fff;
	border: none;
	border-bottom: 2px solid #1f7e60;
	width: 100px;
	padding: 10px 0;
	font-family: 'Ubuntu', Arial, Helvetica;
	transition: all 0.3s linear; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear;
	margin: 10px 0;
}
#set-btnUpd:hover{
	background: #1f7e60;
	border-bottom: 2px solid #074834;
}

/*YATES VIEW
=================================================================== */
.viewDash select{margin-bottom: 10px; font-family: 'Ubuntu', Arial, Helvetica; width: 91%;}
.viewDash textarea{margin-bottom: 10px; font-family: 'Ubuntu', Arial, Helvetica;}
#replace-url{margin-left: 10px; font-weight: bold; color: #32b38c;}
#url{margin-bottom: 5px;}

/*SEO VIEW
=================================================================== */
#seo-search{margin-left: 180px;}
#seo-search input{float: left; padding: 5px; outline: 0; border: none;}
#seo-search input[type="submit"]{background: #209773; padding: 5px 10px; color: #fff;}
.tSeo tr td{text-align: left; padding: 5px;}
.page{background: #32b38c; color: #fff; padding: 5px 8px; border-radius: 3px; margin: 0 3px;}
.page:hover{background: #1f7e60;} 
.currentpag{background: #1f7e60;}

/*GALLERY VIEW
=================================================================== */
a.action-addpage{margin-right: 30px;}
.tPages tr td{text-align: left; padding: 5px;}
.searchResults select{width: 200px; padding: 5px; border-radius: 3px;}
.searchResults input[type="submit"]{padding: 7px 10px; border-radius: 3px; border: none;}
.searchResults input[type="submit"]:hover{background: #1f7e60 !important; border: none !important;}
.circle-num{background: #32b38c; color: #fff; padding: 0 5px; border-radius: 10px;}

#frm-addAncla  fieldset{float: left; margin-right: 10px; width: 200px;}


/*BRANDS VIEW
=================================================================== */
.maskLinkBrand small, .maskLinkBrand input{float: left;}
.maskLinkBrand small{margin-right: 10px; margin-top: 8px;}
.maskLinkBrand input{width: 78%;}


/*DEALS VIEW
=================================================================== */
.divider-2{width: 47%; float: left;}

/*ARCHIVOS
=================================================================== */
.lista-modulos li { list-style: none; }
.lista-modulos li input { width: 200px; padding: 5px; border: 1px solid #CCC; color: #333; outline: 0; }
.lista-modulos li a { padding: 4px 10px; background: #CCC; color: #333; }
.lista-modulos li a:hover { background: #1f7e60; color: #FFF; }




